body {
  background-image: url(bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Mulish", sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: auto;
  z-index: 100;
}
p {
  font-size: 1.3em;
}
a {
  color: #000000;
  text-decoration: none;
}
.navbar {
  position: center;
  width: fit-content;
  height: 3em;
  z-index: 101;
  margin-top: 1em;
  margin-bottom: 1em;
  background: #c6d1d83c;
  border-radius: 3em;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.container {
  width: 56%;
  height: fit-content;
  margin: 1em;
  margin-bottom: 0.5em;
  padding: 1em;
  border-radius: 2em;
  background: #f6fcff60;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 102;
}
.center {
  width: 95%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15em;
}
.border {
  border-radius: 2em;
}
.header {
  text-align: center;
  align-items: center;
  font-size: 1.3em;
  border-bottom: 1px solid #3b3b3b;
  width: 100%;
  padding-bottom: 0.5em;
}
.header h1 {
  margin: 0.2em;
  font-size: 2em;
  width: fit-content;
}
.header h2 {
  margin: 0 auto;
}
.navbar a {
  max-width: 95%;
  text-decoration: none;
  color: #000000;
  display: flexbox;
  justify-content: space-between;
}
.btn-grad {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.1px);
  -webkit-backdrop-filter: blur(16.1px);
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 15px 25px;
  font-size: 1.4em;
  text-align: center;
  text-transform: capitalize;
  transition: 0.3s;
  color: white;
  border-radius: 5em;
  display: block;
}

.btn-grad:hover {
  background: rgba(255, 255, 255, 0.249);
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}
footer {
  background: #d5d5d593;
  border-radius: 3em;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.595);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  text-align: center;
  justify-content: center;
  margin: 0.2em;
  padding: 0.5em;
  position: fixed;
  bottom: 0;
  width: 95%;
  font-size: 0.6em;
  z-index: 104;
}
.sitenav {
  margin: 1em;
  font-size: 1.7em;
}
.sitenav a {
  color: #000000;
  text-decoration: none;
  transition: 0.4s;
}
.sitenav a:hover {
  color: #c0c0c0;
}

@media (max-width: 768px) {
  .container {
    width: 88%;
  }
  .sitenav {
    margin: 0.3em;
    font-size: 1.7em;
  }
  .navbar {
    display: grid;
    width: 90%;
    height: fit-content;
    justify-content: center;
    place-items: center;
  }
  .navbar a {
    font-size: 1.5em;
    width: 100%;
    margin-top: 0.3em;
  }
  .btn-grad {
    font-size: 1em;
  }
  .btn-grad:hover {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }
  a {
    font-size: 1em;
  }
  h2 {
    font-size: 1.2em;
  }
  .header h1 {
    font-size: 1.5em;
  }
  li::marker {
    font-size: 0.78em;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 1024px) {
}
.dld-btn a {
  max-width: 95%;
  text-decoration: none;
  color: #000000;
  display: flexbox;
  justify-content: space-between;
}
.dld-btn {
  background: rgba(0, 0, 0, 0.577);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.1px);
  -webkit-backdrop-filter: blur(16.1px);
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 15px 25px;
  font-size: 1.4em;
  text-align: center;
  text-transform: capitalize;
  transition: 0.3s;
  color: white;
  border-radius: 5em;
  display: block;
}

.dld-btn:hover {
  background: rgba(53, 134, 102, 0.552);
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}
img {
  width: 100%;
  border-radius: 30px;
  margin-bottom: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.178) 0 4px 30px;
}
